body {
	margin: 50px;
	background: url("../images/hp-desk.jpg");
  	background-size: cover;
	font-family: Apercu, Arial, sans-serif;
	font-weight: 100;
	font-size: 16px;
	color: white;
}

header {
	padding: 10px;
	margin: 20px;
}

h1 {
	font-family: Caslon; serif;
	font-weight: 100;
	font-size: 3em;
	text-transform: uppercase;
}

h2 {
	font-size: 2em;
	font-weight: 100;
	width: 50em;
}

#slogan {
	font-style: italic;
	font-weight: 100;
}
hr {
	border: none;
	height: 3px;
	background-color: white;
	
}

section {
	margin: 100px;
}

a {
	text-decoration: none;
	color: white;
	font-style: italic;
}